/* 通过覆盖掉 default.less 中的变量来定制样式 */
// 标签文字颜色
@label-color: #697b8c;

// 缩小行高, 主要是为了调整label和input之间的视觉距离
@gm-line-height-base: 1.3;

// vertical paddings 增加 xxs
@padding-xxs: 4px; // very small items

// 提高雅黑的优先级
@font-family: 'Microsoft YaHei', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
  'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

// 因为需要调整input高度和旧系统(bootstrap)一致, 相关的按钮和分页高度一起调整
@pagination-item-size: 34px;
@btn-height-base: 34px;
@input-height-base: 34px;

// 根据用户反馈调整 25% -> 35%
@disabled-color: fade(#000, 35%);
@disabled-color-dark: fade(#fff, 45%);

// 由于调整 from-item 的垂直间距, 需要修正此项, 让内容显示完整
@drawer-body-padding: 24px 24px 60px 24px;

// 附加文字, 例如错误信息, 右对齐
@gm-add-on-text-align: right;

// 调整 z-index, 高于旧项目使用的blockUI等弹出层
@zindex-modal: 100000;
@zindex-modal-mask: 100000;
@zindex-message: 100010;
@zindex-notification: 100010;
@zindex-popover: 100030;
@zindex-dropdown: 100050;
@zindex-picker: 100050;
@zindex-tooltip: 100060;
